@model ImarRuhsatTakipApp.Models.Yetkiler

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Yetkiler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Basvuru_Turleri.Basvuru_Tur_Ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Basvuru_Turleri.Basvuru_Tur_Ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kullanicilar.Kullanici_Ad_Soyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kullanicilar.Kullanici_Ad_Soyad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
