@model ImarRuhsatTakipApp.Models.Muteahhit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Muteahhit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mutheahhit_Ad_Soyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mutheahhit_Ad_Soyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mutheahhit_Firma_Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mutheahhit_Firma_Adi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.Mutheahhit_Id }) |
    @Html.ActionLink("Geri Dön", "Index")
</p>
